@if (profile)
{
  @if (errorMessage?.length)
  {
    <social-message severity="Error">
      <span style="white-space: pre-line">{{errorMessage}}</span>
    </social-message>
  }

  <div class="social-input-container">
    <label htmlFor="firstname">First Name</label>
    <input pInputText id="firstname" name="firstname" [(ngModel)]="profile.firstName" />
    <small id="firstname-help">Public</small>
  </div>
  <div class="social-input-container">
    <label htmlFor="lastname">Last Name</label>
    <input pInputText id="lastname" name="lastname" [(ngModel)]="profile.lastName" />
    <small id="lastname-help">{{visibilities[profile.settings.lastName][1]}}</small>
  </div>
  <div class="social-input-container">
    <label htmlFor="date">Birth Date</label>
    <p-calendar id="date" name="date" [touchUI]="true" [readonlyInput]="true"
      [(ngModel)]="profile.dateOfBirth"></p-calendar>
    <small id="date-help">{{visibilities[profile.settings.dateOfBirth][1]}}</small>
  </div>
  <div class="social-input-container">
    <label htmlFor="gender">Gender</label>
    <p-dropdown name="gender" [options]="genders" optionLabel="name" optionValue="code"
      [(ngModel)]="profile.gender"></p-dropdown>
    <small id="gender-help">{{visibilities[profile.settings.gender][1]}}</small>
  </div>
  <div class="social-input-container">
    <label htmlFor="phonenumber">Phone Number</label>
    <input pInputText id="phonenumber" name="phonenumber" [(ngModel)]="profile.phoneNumber!.value" />
    <small id="phonenumber-help">{{visibilities[profile.settings.phone][1]}}</small>
  </div>
  <div class="social-input-container">
    <label htmlFor="facebook">Facebook</label>
    <input pInputText id="facebook" name="facebook" [(ngModel)]="profile.socials!.facebook" />
    <small id="facebook-help">{{visibilities[profile.settings.socials][1]}}</small>
  </div>
  <div class="social-input-container">
    <label htmlFor="youtube">Youtube</label>
    <input pInputText id="youtube" name="youtube" [(ngModel)]="profile.socials!.youtube" />
    <small id="youtube-help">{{visibilities[profile.settings.socials][1]}}</small>
  </div>
  <div class="social-input-container">
    <label htmlFor="twitter">Twitter</label>
    <input pInputText id="twitter" name="twitter" [(ngModel)]="profile.socials!.twitter" />
    <small id="twitter-help">{{visibilities[profile.settings.socials][1]}}</small>
  </div>
  <div class="social-input-container">
    <label htmlFor="jobtitle">Job Title</label>
    <input pInputText id="jobtitle" name="jobtitle" [(ngModel)]="profile.jobInformations!.jobTitle" />
    <small id="jobtitle-help">{{visibilities[profile.settings.jobTitle][1]}}</small>
  </div>
  <div class="social-input-container">
    <label htmlFor="company">Company</label>
    <input pInputText id="company" name="company" [(ngModel)]="profile.jobInformations!.company" />
    <small id="company-help">{{visibilities[profile.settings.company][1]}}</small>
  </div>
  <div class="social-input-container">
    <label htmlFor="date">Start Date</label>
    <p-calendar id="date" name="date" [touchUI]="true" [readonlyInput]="true"
      [(ngModel)]="profile.jobInformations!.startDate"></p-calendar>
    <small id="startDate-started-help">{{visibilities[profile.settings.startDate][1]}}</small>
  </div>

  <p-button label="Save Changes" (onClick)="onUpdate()"></p-button>
}
