<div *ngFor="let blocked of page.items" class="blocked-members__item">
    <social-item-showcase
        class="profile-list-view__userbox"
        [image]="blocked.blocked?.image ? image(blocked.blocked!.id) : undefined"
        [content]="blocked.blocked?.firstName"
        size="big"
        [rounded]="true"
        [badge]="blocked.blocked?.jobInformations?.jobTitle"
    ></social-item-showcase>
    <p-button
        type="button"
        label="Unblock"
        (onClick)="unblock(blocked.blockedId)"
    ></p-button>
</div>
@if (page.items.length)
{
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="pageRequest.pageNumber ?? 0"
    [rows]="pageRequest.pageSize"
    [totalRecords]="page.total" />
}

<p-toast />
