@use "../../../utilities/mixin.scss";

:host {
    border: 1px solid var(--clr-border);
    border-radius: var(--br-b);
    background-color: var(--bg-blocked-members);

    .blocked-members {
        &__item {
            @include mixin.flex(space-between);
            padding: 1em;

            &:not(:last-child) {
                border-bottom: 1px solid var(--clr-border);
            }
        }
    }
}
