@use ".././../utilities/mixin.scss";

:host {
  @include mixin.flex(stretch, stretch, column);
  flex: 1;
  overflow: auto;

  .chat {
    &__header {
      background-color: var(--white);
      padding: 1em .75em;
      @include mixin.flex(flex-start, center, row);
      gap: 1em;

      &__info {
        flex: 1;
      }
    }

    &__messages {
      @include mixin.flex(stretch, stretch, column-reverse);
      padding: 1em;
      flex: 1;
      overflow: auto;
    }

    &__input-box {
      @include mixin.flex(stretch, stretch);
      padding: 1em;
      gap: 1em;

      .input {
        flex: 1;
      }
    }
  }
}
