<header class="chat__header">
  <div class="chat__header__info">
    @if(chat)
    {
      @if (chat.isGroup)
      {
        <social-item-showcase
          class="profile-list-view__profilebox"
          [image]="chat.group!.image ? groupImage(chat.group!.id) : '/assets/defaults/group.png'"
          [content]="chat.group!.name"
          size="big"
          [rounded]="true"
        ></social-item-showcase>
      }
      @else
      {
        <social-item-showcase
          class="profile-list-view__profilebox"
          [image]="chat.user!.image ? profileImage(chat.user!.id) : undefined"
          [content]="chat.user!.firstName + ' ' + chat.user!.lastName"
          size="big"
          [rounded]="true"
        ></social-item-showcase>
      }
    }
  </div>
  <p-button [text]="true" class="chat__header__btn" (click)="chatsButtonClick($event)" icon="pi pi-comments" />
  <p-button [text]="true" class="chat__header__btn" routerLink="/" icon="pi pi-home" />
</header>

@if (chat)
{
  <div class="chat__messages">
    @for (message of page.items; track message.id)
    {
      <social-chat-message
        [message]="message"
        [role]="chat.group?.members?.at(0)?.role"
        (onUpdate)="updateMessage(message.id, $event)"
        (onDelete)="deleteMessage(message.id)"
      ></social-chat-message>
    }
  </div>

  <div class="chat__input-box">
    <input pInputText [(ngModel)]="message" class="input"/>
    <p-button  icon="pi pi-send" (onClick)="sendMessage()"></p-button>
  </div>
}
