@use "../../utilities/mixin.scss";

:host {
  .chat-message {
    @include mixin.flex(flex-start, stretch);
    gap: .5em;
    margin: .75em 0;

    &.reverse {
      flex-direction: row-reverse;
      text-align: right;
    }

    &__box {
      background-color: var(--green-300);
      padding: .5em 1em;
      border-radius: 5px;

      .content {
        margin: .5em 0 0;
      }
    }
  }
}
