@if (profile)
{
  <div social-edit-form title="Profile Visibility">
    <div class="privacy__section">
      <p-table styleClass="p-datatable-striped"
        [value]="[{}]"
        [tableStyle]="{'min-width': '50rem', 'table-layout': 'fixed', 'width': '100%'}">
        <ng-template pTemplate="header">
          <tr>
            <th>General Information</th>
            <th>Visibility</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td>Last Name</td>
            <td>
              <p-dropdown [style]="{ 'width': '100%' }" optionLabel="name" optionValue="code" [options]="visibilities" [(ngModel)]="profile.settings.lastName"
                appendTo="body"
                optionLabel="name"></p-dropdown>
            </td>
          </tr>
          <tr>
            <td>Date of Birth</td>
            <td>
              <p-dropdown [style]="{ 'width': '100%' }" optionLabel="name" optionValue="code" [options]="visibilities" [(ngModel)]="profile.settings.dateOfBirth"
                appendTo="body"
                optionLabel="name"></p-dropdown>
            </td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>
              <p-dropdown [style]="{ 'width': '100%' }" optionLabel="name" optionValue="code" [options]="visibilities" [(ngModel)]="profile.settings.gender"
                appendTo="body"
                optionLabel="name"></p-dropdown>
            </td>
          </tr>
          <tr>
            <td>Phonenumber</td>
            <td>
              <p-dropdown [style]="{ 'width': '100%' }" optionLabel="name" optionValue="code" [options]="visibilities" [(ngModel)]="profile.settings.phone"
                appendTo="body"
                optionLabel="name"></p-dropdown>
            </td>
          </tr>
          <tr>
            <td>Bio</td>
            <td>
              <p-dropdown [style]="{ 'width': '100%' }" optionLabel="name" optionValue="code" [options]="visibilities" [(ngModel)]="profile.settings.bio"
                appendTo="body"
                optionLabel="name"></p-dropdown>
            </td>
          </tr>
          <tr>
            <td>Socials</td>
            <td>
              <p-dropdown [style]="{ 'width': '100%' }" optionLabel="name" optionValue="code" [options]="visibilities" [(ngModel)]="profile.settings.socials"
                appendTo="body"
                optionLabel="name"></p-dropdown>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="privacy__section">
      <p-table styleClass="p-datatable-striped"
        [value]="[{}]"
        [tableStyle]="{'min-width': '50rem', 'table-layout': 'fixed', 'width': '100%'}">
        <ng-template pTemplate="header">
          <tr>
            <th>Work Experience</th>
            <th>Visibility</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td>Job Title</td>
            <td>
              <p-dropdown [style]="{ 'width': '100%' }" optionLabel="name" optionValue="code" [options]="visibilities" [(ngModel)]="profile.settings.jobTitle"
                appendTo="body"
                optionLabel="name"></p-dropdown>
            </td>
          </tr>
          <tr>
            <td>Company</td>
            <td>
              <p-dropdown [style]="{ 'width': '100%' }" optionLabel="name" optionValue="code" [options]="visibilities" [(ngModel)]="profile.settings.company"
                appendTo="body"
                optionLabel="name"></p-dropdown>
            </td>
          </tr>
          <tr>
            <td>Start Date</td>
            <td>
              <p-dropdown [style]="{ 'width': '100%' }" optionLabel="name" optionValue="code" [options]="visibilities" [(ngModel)]="profile.settings.startDate"
                appendTo="body"
                optionLabel="name"></p-dropdown>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-button label="Save Changes" (onClick)="onUpdate()"></p-button>
  </div>
}
