<p-dataView [value]="page.items" [layout]="layout">
    <ng-template pTemplate="header">
        <p-dataViewLayoutOptions [slot]="layout"></p-dataViewLayoutOptions>
    </ng-template>
    <ng-template let-following pTemplate="listItem">
        <social-profile-list-view
          *ngFor="let follow of following"
          [profile]="follow.followed"
          [isFollowed]="true"
        ></social-profile-list-view>
    </ng-template>
    <ng-template let-following pTemplate="gridItem">
        <social-profile-grid-view
          *ngFor="let follow of following"
          [profile]="follow.followed"
          [isFollowed]="true"
        ></social-profile-grid-view>
    </ng-template>
</p-dataView>
@if (page.items.length)
{
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [rows]="pageRequest.pageSize"
    [totalRecords]="page.total" />
}
