<div class="container flex last">
  <div>
    <social-create-update-post
      image="/assets/placeholders/user-1.png"
      placeholder="Shared what's in your mind..."
    ></social-create-update-post>
    <social-posts-view
      [posts]="posts"
      [loading]="loading"
    ></social-posts-view>
    <p-button
      styleClass="btn-load-more"
      label="Load more"
      (onClick)="getPage()"
      *ngIf="!end"
      [text]="true"
    ></p-button>
  </div>

  <div>
    <social-groups-box></social-groups-box>
    <social-followed-box></social-followed-box>
  </div>
</div>
