@use "../../utilities/mixin.scss";

:host {
  $padding: 1em;
  display: block;
  background-color: var(--bg-post);
  border-radius: var(--br-b);
  overflow: hidden;
  border: 1px solid var(--clr-border);

  &:not(:last-child) {
    margin-bottom: 1em;
  }

  .post {

    &__top,
    &__bottom {
      @include mixin.flex(flex-start, stretch, column);
      padding: $padding;
    }

    &__bottom {
      border-top: 1px solid var(--clr-border);
      background-color: var(--bg-post-comments);
    }

    &__imgbox {
      max-width: 100%;
      margin: 1em .5em;
    }

    &__infobox {
      >* {
        display: inline-block;
      }

      >*:not(:last-child) {
        &::after {
          content: "·";
          display: inline-block;
          margin: 0 .5em;
        }
      }
    }

    &__add-comment {
      padding-top: .5em;

      &__top {
        @include mixin.flex(flex-start);
        gap: 1em;
        margin-bottom: .5em;
      }
    }
  }
}
