@if(!hiddenPost || (hiddenPost && !shouldHide))
{
  <div class="post__top">
      <social-item-showcase
          [image]="post.profile.image ? image(post.profile.id) : undefined"
          [url]="'/profiles/' + post.profile.id"
          [description]="(post.createdAtUtc | date: 'short')!"
          [rounded]="true">
          <a [routerLink]="'/profiles/' + post.profile.id" class="social-link">
              {{ post.profile.firstName }} {{ post.profile.lastName }}
          </a>
          <div toolbar *ngIf="items.length">
              <button pButton
                  type="button"
                  (click)="menu.toggle($event)"
                  icon="pi pi-ellipsis-h"
                  class="p-button-text p-button-rounded"
              ></button>
              <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
          </div>
      </social-item-showcase>

      <p>{{ post.content }}</p>

      <div class="post__actions">
          <p-button label="React"
              icon="pi pi-thumbs-up"
              [text]="post.reactions.length > 0 ? false : true"
              (onClick)="op.toggle($event)"
          ></p-button>
          <p-overlayPanel #op>
            <div [style]="{ 'display': 'flex', 'gap': '.5em' }">
              <p-button [text]="true" (onClick)="react(0)">
                <p-avatar [size]="post.reactions.at(0)?.type == 0 ? 'large' : 'normal'" label="LK" shape="circle" />
              </p-button>
              <p-button [text]="true" (onClick)="react(1)">
                <p-avatar [size]="post.reactions.at(0)?.type == 1 ? 'large' : 'normal'" label="D" shape="circle" />
              </p-button>
              <p-button [text]="true" (onClick)="react(2)">
                <p-avatar [size]="post.reactions.at(0)?.type == 2 ? 'large' : 'normal'" label="A" shape="circle" />
              </p-button>
              <p-button [text]="true" (onClick)="react(3)">
                <p-avatar [size]="post.reactions.at(0)?.type == 3 ? 'large' : 'normal'" label="H" shape="circle" />
              </p-button>
              <p-button [text]="true" (onClick)="react(4)">
                <p-avatar [size]="post.reactions.at(0)?.type == 4 ? 'large' : 'normal'" label="S" shape="circle" />
              </p-button>
            </div>
          </p-overlayPanel>
          <p-button [label]="'Comments ' + (commentsCount != -1 ? '(' + commentsCount + ')' : '')"
              icon="pi pi-comment"
              styleClass="p-button-success p-button-text"
              (onClick)="opened = !opened"
          ></p-button>
      </div>
  </div>

  <div class="post__bottom" *ngIf="post.comments.length || opened">
      <form *ngIf="opened" class="post__add-comment" (ngSubmit)="addComment()">
          <div class="post__add-comment__top">
            <!-- TODO Use profile image -->
              <p-avatar
                  image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
                  shape="circle"
              ></p-avatar>
              <input pInputText
                  type="text"
                  name="comment"
                  placeholder="Write you comment here..."
                  [(ngModel)]="comment"
                  style="flex: 1" />
          </div>
          <p-button
              label="Post"
              styleClass="p-button-text"
              [disabled]="!comment"
              [loading]="sendingComment"
              type="submit"
          ></p-button>
          <p-button
              (onClick)="opened = false; comment = ''"
              label="Cencel"
              styleClass="p-button-text p-button-danger"
          ></p-button>
      </form>

      <p-divider *ngIf="post.comments.length && opened"></p-divider>

      <social-comments [comments]="post.comments" [deletable]="deletable"></social-comments>
      <p-button label="Load more" (onClick)="getCommentsPage()" *ngIf="!end"></p-button>
  </div>

  <social-create-update-post [(visible)]="editing" [post]="post"></social-create-update-post>
}

<p-toast />
