@if(!hiddenPost || (hiddenPost && !shouldHide))
{
  <div class="post__top">
      <social-item-showcase
          [image]="post.profile.image ? profileImage(post.profile.id) : '/assets/defaults/profile.png'"
          [url]="'/profiles/' + post.profile.id"
          [description]="(post.createdAtUtc | date: 'short')!"
          [rounded]="true">
          <a [routerLink]="'/profiles/' + post.profile.id" class="social-link">
              {{ post.profile.firstName }} {{ post.profile.lastName }}
          </a>
          <div toolbar *ngIf="items.length">
              <button pButton
                  type="button"
                  (click)="menu.toggle($event)"
                  icon="pi pi-ellipsis-h"
                  class="p-button-text p-button-rounded"
              ></button>
              <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
          </div>
      </social-item-showcase>

      <p>{{ post.content }}</p>

      @if (post.media) {
        @if (post.media.type == 0)
        {
          <div class="post__imgbox">
            <img [src]="image(post.id)" class="img" />
          </div>
        }
      }

      <div class="post__actions">
          <p-button label="React"
              icon="pi pi-thumbs-up"
              [text]="post.reactions.length > 0 ? false : true"
              (onClick)="op.toggle($event)"
          ></p-button>
          <p-overlayPanel #op styleClass="custom" [style]="{ height: '55px' }">
            <div [style]="{ 'display': 'flex', 'gap': '.5em' }">
              <p-button [text]="true" (onClick)="react(0)">
                <p-avatar [size]="post.reactions.at(0)?.type == 0 ? 'large' : 'normal'" image="/assets/reactions/like.png"
                  shape="circle" />
              </p-button>
              <p-button [text]="true" (onClick)="react(1)">
                <p-avatar [size]="post.reactions.at(0)?.type == 1 ? 'large' : 'normal'" image="/assets/reactions/dislike.png"
                  shape="circle" />
              </p-button>
              <p-button [text]="true" (onClick)="react(2)">
                <p-avatar [size]="post.reactions.at(0)?.type == 2 ? 'large' : 'normal'" image="/assets/reactions/angry.png"
                  shape="circle" />
              </p-button>
              <p-button [text]="true" (onClick)="react(3)">
                <p-avatar [size]="post.reactions.at(0)?.type == 3 ? 'large' : 'normal'" image="/assets/reactions/happy.png"
                  shape="circle" />
              </p-button>
              <p-button [text]="true" (onClick)="react(4)">
                <p-avatar [size]="post.reactions.at(0)?.type == 4 ? 'large' : 'normal'" image="/assets/reactions/sad.png"
                  shape="circle" />
              </p-button>
            </div>
          </p-overlayPanel>
          <p-button [label]="'Comments ' + (commentsCount != -1 ? '(' + commentsCount + ')' : '')"
              icon="pi pi-comment"
              styleClass="p-button-success p-button-text"
              (onClick)="opened = !opened"
          ></p-button>
      </div>
  </div>

  <div class="post__bottom" *ngIf="post.comments.length || opened">
      <form *ngIf="opened" class="post__add-comment" (ngSubmit)="addComment()">
          <div class="post__add-comment__top">
              <p-avatar
                  [image]="personalImage()"
                  shape="circle"
              ></p-avatar>
              <input pInputText
                  type="text"
                  name="comment"
                  placeholder="Write you comment here..."
                  [(ngModel)]="comment"
                  style="flex: 1" />
          </div>
          <p-button
              label="Post"
              styleClass="p-button-text"
              [disabled]="!comment"
              [loading]="sendingComment"
              type="submit"
          ></p-button>
          <p-button
              (onClick)="opened = false; comment = ''"
              label="Cencel"
              styleClass="p-button-text p-button-danger"
          ></p-button>
      </form>

      <p-divider *ngIf="post.comments.length && opened"></p-divider>

      <social-comments [comments]="post.comments" [deletable]="deletable"></social-comments>
      <p-button label="Load more" (onClick)="getCommentsPage()" *ngIf="!commentsEnd"></p-button>
  </div>

  <social-create-update-post [(visible)]="editing" [post]="post"></social-create-update-post>
}

<p-dialog
  [header]="'Reactions (' + post.reactions.length + ')'"
  [modal]="true"
  [(visible)]="reactionsVisible"
  position="bottomright"
  [style]="{ width: '25rem' }">

  <div *ngFor="let reaction of post.reactions">
    <social-item-showcase
      *ngIf="reaction.profile"
      class="profile-list-view__profilebox"
      [image]="reaction.profile.image ? profileImage(reaction.profile.id) : '/assets/defaults/profile.png'"
      [content]="reaction.profile.firstName + ' ' + reaction.profile.lastName"
      size="medium"
      [rounded]="true"
    ></social-item-showcase>
  </div>

  <p-button
    label="Load More"
    styleClass="btn-load-more"
    *ngIf="!reactionsEnd"
    [text]="true"
    (onClick)="getReactionsPage()"
  ></p-button>
</p-dialog>

<p-toast />
