<div class="profile-header__coverimg">
    <img [src]="profile.coverImage" class="img"/>
</div>

<div class="profile-header__imgbox">
    <div class="imgbox" [attr.data-badge]="profile.jobInformations.jobTitle" [class.online]="online">
        <img [src]="profile.image" class="img"/>
    </div>
</div>

<div class="profile-header__content">
    <div class="profile-header__content__header">
        <h2 class="profile-header__name">{{ profile.firstName }}</h2>

        <div class="profile-header__menu">
            <button pButton
                type="button"
                (click)="menu.toggle($event)"
                icon="pi pi-ellipsis-v"
                class="p-button-text p-button-rounded"
            ></button>
            <p-menu #menu [model]="items" [popup]="true"></p-menu>
        </div>
    </div>

    <p class="profile-header__desc">{{ profile.firstName.toLowerCase() }} • Joined {{ profile.createdAtUtc | date:'M yyyy' }}</p>

    <div class="profile-header__follow">
        <div>
            <span>{{ profile.followedBy.length }}</span>
            <span class="fade"> Followers</span>
        </div>
        <div>
            <span>{{ profile.following.length }}</span>
            <span class="fade"> Following</span>
        </div>
    </div>

    <div class="profile-header__links" *ngIf="links">
        <a class="social-link" *ngFor="let profile of links" [pTooltip]="profile" tooltipPosition="bottom">
            <i [class]="'pi pi-' + profile"></i>
        </a>
    </div>
</div>
