<div class="profile-header__coverimg">
  @if (profile.coverImage)
  {
    <img [src]="coverImage(profile.id)" class="img"/>
  }
</div>

<div class="profile-header__imgbox">
    <div class="imgbox" [attr.data-badge]="profile.jobInformations?.jobTitle" [class.online]="online">
      @if (profile.image)
      {
        <img [src]="image(profile.id)" class="img"/>
      }
      @else
      {
        <p-fileUpload
          mode="basic"
          chooseLabel="Choose"
          chooseIcon="pi pi-upload"
          name="image"
          [withCredentials]="true"
          [url]="'https://localhost:7002/api/Profiles/profile/image'"
          accept="image/*"
          maxFileSize="1000000"
          [auto]="true"
          (onUpload)="onUpload()" />
      }
    </div>
</div>

<div class="profile-header__content">
    <div class="profile-header__content__header">
        <h2 class="profile-header__name">{{ profile.firstName }}</h2>

        <div class="profile-header__menu">
            <button pButton
                type="button"
                (click)="menu.toggle($event)"
                icon="pi pi-ellipsis-v"
                class="p-button-text p-button-rounded"
            ></button>
            <p-menu #menu [model]="items" [popup]="true"></p-menu>
        </div>
    </div>

    <p class="profile-header__desc">
      {{ profile.firstName.toLowerCase() }} {{ profile.lastName?.toLowerCase() }}
      • Joined {{ profile.createdAtUtc | date:'M yyyy' }}
    </p>

    <div class="profile-header__follow">
        <div>
            <span>{{ profile.followers }}</span>
            <span class="fade"> Followers</span>
        </div>
        <div>
            <span>{{ profile.following }}</span>
            <span class="fade"> Following</span>
        </div>
    </div>

    <div class="profile-header__links">
      @for (link of links; track $index)
      {
        <a class="social-link" *ngIf="link[1]" [pTooltip]="link[0]" tooltipPosition="bottom" [href]="link[1]">
            <i [class]="'pi pi-' + link[0]"></i>
        </a>
      }
    </div>
</div>
