<div *ngFor="let request of page.items" class="requests__item">
    <social-item-showcase
        class="profile-list-view__userbox"
        [image]="request.receiver?.image ? image(request.receiver!.id) : undefined"
        [content]="request.receiver?.firstName"
        size="big"
        [rounded]="true"
        [badge]="request.receiver?.jobInformations?.jobTitle"
    ></social-item-showcase>
    <p-button
        type="button"
        label="Cancel"
        severity="danger"
        (onClick)="cancel(request.receiverId)"
    ></p-button>
</div>
@if (page.items.length)
{
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="pageRequest.pageNumber ?? 0"
    [rows]="pageRequest.pageSize"
    [totalRecords]="page.total" />
}

<p-toast />
