<social-chat [chat]="selected !== undefined ? page.items[selected] : undefined" (onChatsButtonClick)="showDialog()"></social-chat>

<p-dialog
  header="Edit Profile"
  [modal]="true"
  [(visible)]="visible"
  position="bottomright"
  [style]="{ width: '25rem' }">
  <div *ngFor="let chat of page.items" (click)="open(chat.id)">
    @if (chat.isGroup)
    {
      <social-item-showcase
        class="profile-list-view__profilebox"
        [image]="chat.group!.image ? groupImage(chat.group!.id) : undefined"
        [content]="chat.group!.name"
        size="medium"
        [rounded]="true"
      ></social-item-showcase>
    }
    @else
    {
      <social-item-showcase
        class="profile-list-view__profilebox"
        [image]="chat.user!.image ? profileImage(chat.user!.id) : undefined"
        [content]="chat.user!.firstName + ' ' + chat.user!.lastName"
        size="medium"
        [rounded]="true"
      ></social-item-showcase>
    }
  </div>
    <p-button
      label="Load More"
      styleClass="btn-load-more"
      *ngIf="!loading && !end"
      [text]="true"
      (onClick)="requestPage()"
    ></p-button>
</p-dialog>
