<a class="item-showcase__imgbox social-link" [routerLink]="url" [class.online]="online">
    <img [src]="image" class="img" [class.rounded]="rounded"/>
    <div *ngIf="badge && direction == 'column'" class="item-showcase__badge" [style]="{ 'background-color': badgeColor }">
        {{ badge }}
    </div>
</a>

<div class="item-showcase__middle">
    <div class="item-showcase__content">
      @if (content && url)
      {
        <a
            class="social-link item-showcase__text"
            [routerLink]="url"
        >{{ content }}</a>
      }
      @else if (content)
      {
        <span
            class="social-link item-showcase__text"
        >{{ content }}</span>
      }
      @else
      {
        <ng-content *ngIf="!content"></ng-content>
      }
        <div *ngIf="badge && direction == 'row'" class="item-showcase__badge" [style]="{ 'background-color': badgeColor }">
            {{ badge }}
        </div>
    </div>
    <span class="item-showcase__desc" *ngIf="description">{{ description }}</span>
    <ng-content select="[footer]"></ng-content>
</div>

<ng-content select="[toolbar]"></ng-content>
