<social-message severity="Info" *ngIf="loading">Getting posts...</social-message>
<social-message severity="Warn" *ngIf="!loading && !posts.total">There is no posts yet!</social-message>
<p-dataView #dv [value]="posts.items" *ngIf="posts.total">
    <ng-template pTemplate="header">
        <div class="posts-view__header">
          <!-- TODO: Add filter here -->
        </div>
    </ng-template>
    <ng-template let-post pTemplate="listItem">
        <social-post [post]="post"></social-post>
    </ng-template>
</p-dataView>

