<p-dataView [value]="friends.items" [layout]="layout">
    <ng-template pTemplate="header">
        <p-dataViewLayoutOptions [slot]="layout"></p-dataViewLayoutOptions>
    </ng-template>
    <ng-template let-friendships pTemplate="listItem">
        <social-profile-list-view
          *ngFor="let friendship of friendships"
          [profile]="friendship.friend"
        ></social-profile-list-view>
    </ng-template>
    <ng-template let-friendships pTemplate="gridItem">
        <social-profile-grid-view
          *ngFor="let friendship of friendships"
          [profile]="friendship.friend"
        ></social-profile-grid-view>
    </ng-template>
</p-dataView>
