<div class="group-grid-view__cover-img">
  <img [src]="group.coverImage" class="img"/>
</div>

<a class="group-grid-view__imgbox social-link" [routerLink]="'/groups/' + group.id">
  <img [src]="group.image" class="img"/>
</a>

<div class="group-grid-view__content">
  <strong class="group-grid-view__name">
      <a [routerLink]="'/groups/' + group.id" class="social-link">
          {{ group.name }}
      </a>
  </strong>
  <small class="group-grid-view__type">{{ visibility }}</small>

  @if (group.members.length > 0)
  {
    <p-button
        label="Leave Group"
        styleClass="p-button-primary"
        [style]="{ 'white-space': 'nowrap' }"
    ></p-button>
  }
  @else
  {
    <p-button
        label="Join Group"
        styleClass="p-button-primary"
        [style]="{ 'white-space': 'nowrap' }"
    ></p-button>
  }
</div>
