<p-dialog header="Create a post"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ 'min-width': '50vw' }"
    [maximizable]="true"
    [resizable]="true">
    <div>
      <p-dropdown
        [options]="visibilities"
        [(ngModel)]="selected"
        optionLabel="name"
        [style]="{ width: '100%' }"
        placeholder="Select a visibility" />
    </div>
    <textarea class="cu-post__textarea"
        [(ngModel)]="postRequest.content"
        id="text-input"
        placeholder="Shared what's in your mind..."
        rows="10"
    ></textarea>
    <p-fileUpload
        mode="basic"
        chooseLabel="Choose Media..."
        chooseIcon="pi pi-upload"
        name="demo[]"
        (onSelect)="onSelect($event)"
        accept="*/*"
        [maxFileSize]="1000000"
    ></p-fileUpload>
    <ng-template pTemplate="footer">
        <p-button label="Post" [loading]="sending" (onClick)="sendPost()"></p-button>
    </ng-template>
</p-dialog>
