@use "../../utilities/mixin.scss";

:host {
  .cu-post {
    &__textarea {
      all: unset;
      display: block;
      width: 100%;
      font: inherit;
      margin: 1.5em 0;
      word-wrap: break-word;
    }
  }
}
