@use "../../utilities/mixin.scss";

:host {
  @include mixin.flex(space-between, stretch, column);
  gap: 1em;
  background-color: var(--bg-sidebar);
  height: 100%;

  .sidebar {
    &__content {
      flex: 1;
      width: 100%;
      gap: 3em;
    }

    &__group {
      &:not(:last-child) {
        margin-bottom: 1em;
      }

      &__name {
        font-weight: 600;
        text-transform: uppercase;
        color: var(--clr-faded);
        margin: .5em 0;
      }
    }
  }

  ::ng-deep {
    .p-button.p-button-icon-only {
      padding: .75em 1em;
      width: auto;
    }
  }
}
