<div class="sidebar__header">
    <p-button
    icon="pi pi-bars"
    styleClass="p-button-text"
    (onClick)="onToggle()"
    ></p-button>
</div>

<div class="sidebar__content">
    <div *ngFor="let group of groups; index as i" class="sidebar__group">
        <h4 class="sidebar__group__name" *ngIf="group.name && !collapsed">{{ group.name }}</h4>
        <p-divider *ngIf="group.name && collapsed && i != 0"></p-divider>
        <social-list-item
            *ngFor="let item of group.items"
            [label]="item.label"
            [icon]="item.icon"
            [url]="item.url"
            [badge]="item.badge"
            [collapsed]="collapsed"
        ></social-list-item>
    </div>
</div>

<div class="sidebar__footer">
    <social-list-item
        label="Account Settings"
        icon="pi pi-cog"
        url="/settings"
        [collapsed]="collapsed"
    ></social-list-item>
</div>
