<social-item-showcase
    [image]="group.image ? image(group.id) : '/assets/defaults/group.png'"
    size="big"
    [rounded]="false"
    [badgeColor]="color"
    [url]="'/groups/' + group.id"
    [badge]="visibility">
    <a [routerLink]="'/groups/' + group.id" class="social-link">
      <h3 [style]="{ 'font-weight': '500' }">{{ group.name }}</h3>
    </a>
    <small class="group-list-view__desc" footer>
        {{ group.description }}
    </small>
</social-item-showcase>

@if (group.members.length > 0)
{
  <p-button
      label="Leave Group"
      styleClass="p-button-primary"
      [style]="{ 'white-space': 'nowrap' }"
      (onClick)="leave()"
  ></p-button>
}
@else if (group.joinRequests.length > 0)
{
  <p-button
      label="Cancel Join Request"
      styleClass="p-button-primary"
      [style]="{ 'white-space': 'nowrap' }"
      (onClick)="cancelRequest()"
  ></p-button>
}
@else
{
  <p-button
      label="Join Group"
      styleClass="p-button-primary"
      [style]="{ 'white-space': 'nowrap' }"
      (onClick)="join()"
  ></p-button>
}
