<div class="container flex last">
    <div>
        <social-page-title title="Profiles">
            <p-inputGroup>
                <input pInputText
                    [(ngModel)]="pageRequest.search"
                    icon="pi pi-search"
                    placeholder="Search profiles..." />
                <button type="button" pButton icon="pi pi-search" (click)="requestPage()"></button>
            </p-inputGroup>
        </social-page-title>
        <social-message severity="Info" *ngIf="loading">Getting profiles...</social-message>
        <social-message severity="Warn" *ngIf="!loading && !page.items.length">There is no profiles!</social-message>
        <p-dataView [value]="page.items" [layout]="layout" *ngIf="page.items.length">
            <ng-template pTemplate="header">
                <p-dataViewLayoutOptions [slot]="layout"></p-dataViewLayoutOptions>
            </ng-template>
            <ng-template let-profiles pTemplate="listItem">
                <social-profile-list-view *ngFor="let profile of profiles" [profile]="profile"></social-profile-list-view>
            </ng-template>
            <ng-template let-profiles pTemplate="gridItem">
                <social-profile-grid-view *ngFor="let profile of profiles" [profile]="profile"></social-profile-grid-view>
            </ng-template>
        </p-dataView>
    </div>

    <div>
        <social-groups-box></social-groups-box>
    </div>
</div>
