<ul class="comments__comment social-list">
    <ng-container *ngTemplateOutlet="recursiveList; context:{$implicit: comments}"></ng-container>
</ul>

<ng-template #recursiveList let-comments>
    <li *ngFor="let comment of comments">
        <social-comment [comment]="comment" [deletable]="deletable"></social-comment>
        <ul *ngIf="comment.replies.length > 0" class="comments__replies social-list">
            <ng-container
                *ngTemplateOutlet="recursiveList; context:{$implicit: comment.replies}"
            ></ng-container>
        </ul>
    </li>
</ng-template>
