@use "../../utilities/mixin.scss";

:host {
    display: block;

    &:not(:last-child) {
        margin-bottom: 1em;
    }

    .comments {
        &__replies {
            margin-left: 1.75em;
        }
    }
}
