<!-- TODO -->
<!-- <div class="group-header__coverimg">
  @if (group.members.at(0)?.role == group.settings.editDetailsRole)
  {
    <div class="group-header__coverimg__edit">
      <p-fileUpload
        styleClass="custom"
        mode="basic"
        chooseIcon="pi pi-upload"
        name="image"
        [withCredentials]="true"
        [url]="'https://localhost:7002/api/Groups/' + group.id + '/cover-image'"
        accept="image/*"
        maxFileSize="1000000"
        (onUpload)="onUpload()"
        [auto]="true" />

      @if (group.coverImage)
      {
        <p-button
          [text]="true"
          icon="pi pi-trash"
          severity="danger"
          styleClass="hidable"
          (onClick)="deleteCoverImage()"
        ></p-button>
      }
    </div>
  }

  @if (group.coverImage)
  {
    <img [src]="coverImage(group.id)" class="img"/>
  }
</div> -->

<div class="group-header__bottom">
  <div class="group-header__imgbox">
    @if (group.members.at(0)?.role == group.settings.editDetailsRole)
    {
      <p-fileUpload
        [style]="{ 'z-index': 10 }"
        styleClass="custom hidable"
        mode="basic"
        chooseIcon="pi pi-upload"
        name="image"
        [withCredentials]="true"
        [url]="'https://localhost:7002/api/Groups/' + group.id + '/image'"
        accept="image/*"
        maxFileSize="1000000"
        (onUpload)="onUpload()"
        [auto]="true" />
    }

    @if (group.image)
    {
      <img [src]="image(group.id)" class="img"/>
      <p-button
        [text]="true"
        icon="pi pi-trash"
        severity="danger"
        styleClass="hidable"
        (onClick)="deleteImage()"
      ></p-button>
    }
  </div>
  <div class="group-header__content">
    <div class="group-header__content__header">
      <div class="group-header__content__title">
        <h1>{{ group.name }}</h1>
        <small class="group-header__badge">{{ visibility }}</small>
      </div>
      <div>
        @if (group.members.length > 0)
        {
          <p-splitButton appendTo="body" [model]="items" label="Leave" (onClick)="leave()" styleClass="p-button-danger"></p-splitButton>
        }
        @else if (group.joinRequests.length > 0)
        {
          <p-splitButton appendTo="body" [model]="items" label="Cancel Join Request" (onClick)="cancelRequest()" styleClass="p-button-danger"></p-splitButton>
        }
        @else
        {
          <p-splitButton appendTo="body" [model]="items" label="Join Group" (onClick)="join()" styleClass="p-button-primary"></p-splitButton>
        }
      </div>
    </div>

    <p class="group-header__desc" [title]="group.description">
      {{ group.description }}
    </p>
  </div>
</div>

<p-toast />
<p-dialog header="Edit Group" [modal]="true" [(visible)]="updating" [style]="{ width: '25rem' }" styleClass="custom-form">
  <div>
    <label for="username">Name</label>
    <input pInputText id="username" autocomplete="off" [(ngModel)]="this.group.name" />
  </div>
  <div>
    <label for="email">Description</label>
    <input pInputText id="username" autocomplete="off" [(ngModel)]="this.group.description" />
  </div>
  <div>
    <label for="email">Visibility</label>
    <p-dropdown [style]="{ 'width': '100%' }"
      optionLabel="name"
      optionValue="code"
      [options]="visibilities"
      [(ngModel)]="group.visibility"
      appendTo="body"
      optionLabel="name"
    ></p-dropdown>
  </div>

  <div>
    <p-button label="Cancel" severity="secondary" (click)="updating = false" />
    <p-button label="Save" (click)="update()" [loading]="loading" />
  </div>
</p-dialog>

<p-dialog header="Edit Group" [modal]="true" [(visible)]="updatingSettings" [style]="{ width: '25rem' }" styleClass="custom-form">
  <div class="custom-form">
    <label for="email">Inviting Role</label>
    <p-dropdown
      [style]="{ 'width': '100%' }"
      optionLabel="name"
      optionValue="code"
      [options]="roles"
      [(ngModel)]="group.settings.inviterRole"
      appendTo="body"
      optionLabel="name"></p-dropdown>
  </div>

  <div>
    <label>Posting Role</label>
    <p-dropdown
      [style]="{ 'width': '100%' }"
      optionLabel="name"
      optionValue="code"
      [options]="roles"
      [(ngModel)]="group.settings.postingRole"
      appendTo="body"
      optionLabel="name"></p-dropdown>
  </div>

  <div>
    <label>Updating Role</label>
    <p-dropdown
      [style]="{ 'width': '100%' }"
      optionLabel="name"
      optionValue="code"
      [options]="roles"
      [(ngModel)]="group.settings.editDetailsRole"
      appendTo="body"
      optionLabel="name"></p-dropdown>
  </div>

  <div>
    <p-button label="Cancel" severity="secondary" (click)="updatingSettings = false" />
    <p-button label="Save" (click)="updateSettings()" [loading]="loading" />
  </div>
</p-dialog>

<p-dialog header="Edit Group" [modal]="true" [(visible)]="inviting" [style]="{ width: '25rem' }">
  <div>
    <p-button label="Cancel" severity="secondary" (click)="updatingSettings = false" />
    <p-button label="Save" (click)="updateSettings()" [loading]="loading" />
  </div>
</p-dialog>
