<div class="group-header__coverimg">
  <img [src]="group.coverImage" class="img" />
</div>

<div class="group-header__bottom">
  @if (group.image)
  {
    <div class="group-header__imgbox">
      <img [src]="group.image" class="img" />
    </div>
  }
  <div class="group-header__content">
    <div class="group-header__content__header">
      <div class="group-header__content__title">
        <h1>{{ group.name }}</h1>
        <small class="group-header__badge">{{ visibility }}</small>
      </div>
      <div>
        @if (group.members.length > 0)
        {
          <p-button label="Leave Group" styleClass="p-button-danger"></p-button>
        }
        @else
        {
          <p-button label="Join Group" styleClass="p-button-primary"></p-button>
        }
      </div>
    </div>

    <p class="group-header__desc" [title]="group.description">
      {{ group.description }}
    </p>
  </div>
</div>
