<div class="container">
  <form class="navbar__search navbar__box" [class.visible]="searching" (submit)="onSubmit()">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText name="search" [(ngModel)]="search" />
    </span>
    <p-button icon="pi pi-times" styleClass="p-button-text" (onClick)="searching = false; search = ''"></p-button>
  </form>
  <div class="navbar__main navbar__box" [class.visible]="!searching">
    <div class="navbar__left">
      <p-button (click)="openSidebar()" icon="pi pi-bars" [text]="true" severity="secondary" />
      <a routerLink="/" social-logo class="social-link">Logo</a>
    </div>

    <div class="navbar__right">
      <!-- TODO: Add Global Search -->
      <p-button icon="pi pi-search" styleClass="p-button-text" (onClick)="searching = true"></p-button>
      @if (loggedIn)
      {
        <p-button (onClick)="op.toggle($event);" icon="pi pi-bell"
          styleClass="p-button-text"></p-button>
        <p-overlayPanel #op styleClass="custom">
          <social-notifications></social-notifications>
        </p-overlayPanel>
      }
      <p-divider layout="vertical"></p-divider>
      @if (loggedIn)
      {
        <button (click)="userMenu.toggle($event)" class="navbar__user-btn">
          <span>{{ firstname }}</span>
          @if (image)
          {
            <img [src]="" class="img"/>
              <p-avatar [image]="image" shape="circle"></p-avatar>
          }
        </button>
        <p-menu [style]="{ 'min-width': '250px' }" #userMenu [model]="userMenuItems" [popup]="true"></p-menu>
      }
    </div>
  </div>
</div>
